<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="edu.erau.se500.art"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/edu.erau.se500.ART/css/default.css">
         </property>
      </product>
   </extension>
   
      <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.erau.se500.art"
            name="ART - Automated Requirement Traceability">
      </category>
      <view
            category="edu.erau.se500.art"
            class="edu.erau.se500.art.MainView"
            icon="icons/sample.png"
            id="edu.erau.se500.art.MainView"
            name="ART - Requirement Traceability">
      </view>
   </extension>

</plugin>
