<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
      <extension
         point="org.eclipse.ui.views">
      <category
            id="edu.erau.se500.art"
            name="ART - Automated Requirement Traceability">
      </category>
      <view
            category="edu.erau.se500.art"
            class="edu.erau.se500.art.SelectView"
            icon="icons/sample.png"
            id="edu.erau.se500.art.MainView"
            name="ART - Select Files">
      </view>
            <view
            category="edu.erau.se500.art"
            class="edu.erau.se500.art.ResultsView"
            icon="icons/sample.png"
            id="edu.erau.se500.art.ResultsView"
            name="ART - Results">
      </view>
   </extension>

</plugin>
